{{ $ := .root }}
{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>

  <div class="col-xs-12 col-md-8">
    {{ $page.Content }}
<!-- Teaching -->
  {{ with $page.Params.activity}}
  <div class="col-sm-7">
    <h3>{{ i18n "activity" | markdownify }}</h3>
    <ul style="position:relative; left:100px;" class="ul-edu fa-ul">
      {{ range .teaching }}
      <li>
        <i class="fa-li fa fa-university"></i>
        <div style="position; left:100px;" class="description">
          <p class="course">{{ .position }}</p>
          <p class="institution">{{ .institution }}</p>
          <p class="institution">{{ .year }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

</div>
</div>
